.body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 80%;
    background-color: #CCC9DC;
    color: #0C1821;
    padding: 20px;
}

.innerBody {
    border: solid #0C1821 2px;
    padding: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
}

.footer {
    background-color: #CCC9DC;
    border-top: solid #0C1821 3px;
    border-bottom: solid #0C1821 3px;
    padding: 20px;
}

.navBar {
    background-color: #0C1821;
    border-bottom: solid #0C1821 3px;
}

.link {
    color: #8B1E3F;
}

.link:hover {
    color: #28B094;
}


h1 {
    padding-bottom: 20px;
}

input {
    background-color: white;
}

button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,.25), 0 17px 50px 0 rgba(0,0,0,.25);
}


