#pass1Error {
    display: none;
    font-size: 0.8em;
}
  
#pass1Error.visible {
    display: block;
}

#pass2Error {
    display: none;
    font-size: 0.8em;
}
  
#pass2Error.visible {
    display: block;
}

#notEqualError {
    display: none;
    font-size: 0.8em;
}
  
#notEqualError.visible {
    display: block;
}
  
input.invalid {
    border-color: red;
}

span {
    color: red;
}