.body {
    text-align: center;
}
.body h1 {
    text-align: center;
    margin-top: 40px;
}
.mysubmit {
    margin-top: 30px;
    margin-bottom: 20px;
}
.mysubmit .custom {
        background-color: #28B094;
        border-top-left-radius: 10px !important;
        border-bottom-left-radius: 10px !important;
        border-top-right-radius: 10px !important;
        border-bottom-right-radius: 10px !important;
        border-color: black;
        color: white;
        width: 150px !important;
        margin-right: 7px;
}
.mysubmit Button:hover {
    background: #E9AD20;
    border-color: black;
} 

.mysubmit Button:focus {
    background-color: grey;
    border-color: black;
    color: #0C1821;
    box-shadow: none;
}

.mysubmit .discard {
    background-color: #8b1E3F;
    border-top-left-radius: 10px !important;
    border-bottom-left-radius: 10px !important;
    border-top-right-radius: 10px !important;
    border-bottom-right-radius: 10px !important;
    border-color: black;
    color: white;
    width: 150px !important;
    margin-right: 7px;
}

.cover-art {
    margin-bottom: 15px;
}

.star-group {
    margin-bottom: 35px;
}

input[type="radio"] {
    display: none;
}

.star {
    cursor: pointer;
    transition: color 200ms;
}


.form-group2 {
    margin-top: 15px;
    display: inline-block; 
}

.section-format {
    margin-top: -25px;
    margin-left: 615px;
}

.form-group2 label {
    margin-right: 600px;
    color: #0C1821;
}

.pReview {
    color: #0C1821;
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 25px;
    margin-left: 25px;
}

