.body .searchBar {
text-align: left;
}

.body .console-filter {
    text-align: left;
}

.body .grid-container {
    text-align: left;
    margin-left: 80px;
}


.searchBar{
    margin-left: 30px;
    text-align: left;
    margin-top: 30px;
    margin-bottom: 10px;
}

.searchBar input {
    width: 550px;
    height: 50px;
    font-family: Montserrat, sans-serif;
    font-size: 20px;
    margin-right: 20px;
    border-top-left-radius: 10px !important;
    border-bottom-left-radius: 10px !important;
    border-top-right-radius: 10px !important;
    border-bottom-right-radius: 10px !important;
    background-color: #0C1821;
    color: #28B094;
    border-color: black;
}

::placeholder {
    color: grey;
}


.searchBar Button {
    width: 250px !important;
    height: 50px !important;
    border-top-left-radius: 10px !important;
    border-bottom-left-radius: 10px !important;
    border-top-right-radius: 10px !important;
    border-bottom-right-radius: 10px !important;
    margin-left: 15px;
    margin-bottom: 2px;
    background-color: #0C1821;
    border-color: black;
    color: #28B094;
}

.searchBar Button:hover {
    background: #28B094;
    border-color: black;
    box-shadow: none;
}

.searchBar Button:active {
    outline: none;
    box-shadow: none;
}


.searchBar Button:focus {
    background-color: #0C1821;
    border-color: black;
    color: #28B094;
    outline: none;
    box-shadow: none;
}

h2 {
    font-size: 8px;
    text-align: left;
    margin-top: 15px;
    margin-left: 200px;
}

.console-filter {
    text-align: left;
    margin-top: 20px;
}

.console-filter Button {
    height: 45px !important;
    color:  #28B094;
    border-top-left-radius: 10px !important;
    border-bottom-left-radius: 10px !important;
    border-top-right-radius: 10px !important;
    border-bottom-right-radius: 10px !important;
    margin-left: 30px;
    margin-right: 30px;
    background-color: #0C1821;
    border-color: black;
}

.console-filter Button:hover {
    background-color: #28B094;
    border-color: black;
    color: #0C1821;
} 

.console-filter Button:active {
    background-color: grey;
    border-color: black;
    color: #0C1821;
} 

.console-filter Button:focus {
    background-color: #28B094;
    border-color:#0C1821;
    outline: none;
    color: #0C1821;
    box-shadow: none;
}


.custom {
    width: 128px !important;
}

.custom2 {
    width: 128px !important;
    background-color: #28B094 !important;
    color: #0C1821 !important;
}

.custom2:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,.25), 0 17px 50px 0 rgba(0,0,0,.25) !important;
    background-color: #28B094 !important;
    color: #0C1821 !important;
}

.grid-container {
    text-align:left;
    margin-top: 65px;
}
.grid-container .row {
    margin-top: 25px;
}

.grid-container a {
    color: #8b1e3f;
    font-style: bold;
}

.grid-container a:hover {
    color:#28B094;
}
.grid-container .pSearch {
    margin-left: -50px;
}

.col-lg-2 image{
margin-right: 25px;
}

.game-card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 8px;
    border: 2px solid #0C1821 !important;
    width: 253px;
    height: 400px;
    background-color: #0C1821;
}

.pSearch {
    color: #0C1821;
    font-weight: bold;
    font-size: 35px;
    margin-bottom: 25px;
    margin-left: 25px;
}

.search-scroll {
    margin-top : 20px;
}

.search-scroll > .row {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
}

.search-scroll > .row > .col {
    padding: 10px;
    
}

