.modal-header {
    background-color: #282c34;
    color: #E0E0E0;
    /*
    border-left: solid #8B1E3F 3px;
    border-right: solid #8B1E3F 3px;
    border-top: solid #8B1E3F 3px;
    */
}
    
.modal-body {
    background-color: #282c34;
    color: #E0E0E0;
    /*
    border-left: solid #8B1E3F 3px;
    border-right: solid #8B1E3F 3px;
    border-bottom: solid #8B1E3F 3px;
    */
}
    
.modal-footer {
    background-color: #282c34;
    color: #E0E0E0;
    height: 60px;
    display:flex;
}
    
input {
    margin-bottom: 8px;
}    
    
.div-footer2 {
    margin-top: -2px;
    margin-bottom: 10px;
    margin-right: 152px;
}
    
.div-footer1 {
    margin-top: -2px;
    margin-bottom: 10px;
    margin-right: 8px;
}
    
.div-footer3 {
    margin-top: -2px;
    margin-bottom: 10px;
    margin-right: 5px;
}

.div-footersu {
    height: -5px;
    width: 55px;
    margin-top: -7px;
    margin-right: 230px;
        
}

.securitydet p {
    margin-bottom:-15px;
}

.d-grid {
    margin-top: 30px;
    margin-bottom: -5px;
}

.bad-email {
margin-top: 7px;
}

.buttModal {
    background-color: #28B094 !important;
    border: #28B094 !important;
    color: #0C1821;
}
a {
    text-decoration: none;
}

span {
    color: red;
    margin-bottom: 15px;
    margin-top: -5px;
  }
  
  input.invalid {
    border-color: red;
  }

  #nameError {
    display: none;
    font-size: 0.8em;
  }

  #nameError.visible {
    display: block;
  }
  
  #emailError {
    display: none;
    font-size: 0.8em;
  }
  
  #emailError.visible {
    display: block;
  }
  
  #passwordError {
    display: none;
    font-size: 0.8em;
  }
  
  #passwordError.visible {
    display: block;
  }